PoultryWars2/.DS_Store
PoultryWars2/PoultryWars2.xcodeproj/project.xcworkspace/
PoultryWars2/PoultryWars2.xcodeproj/xcuserdata/
PoultryWars2/build
Cross Me Not/iOS/Cross Me Not.xcodeproj/manan19.mode1v3
Cross Me Not/iOS/Cross Me Not.xcodeproj/manan19.pbxuser
Cross Me Not/android/bin
Cross Me Not/iOS/Cross Me Not.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Cross Me Not/iOS/Cross Me Not.xcodeproj/project.xcworkspace/xcuserdata/manan19.xcuserdatad/UserInterfaceState.xcuserstate
Cross Me Not/iOS/Cross Me Not.xcodeproj/xcuserdata/manan19.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Cross Me Not/iOS/Cross Me Not.xcodeproj/xcuserdata/manan19.xcuserdatad/xcschemes/Cross Me Not.xcscheme
Cross Me Not/iOS/Cross Me Not.xcodeproj/xcuserdata/manan19.xcuserdatad/xcschemes/xcschememanagement.plist
