<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cmn.game"
      android:versionCode="2"
      android:versionName="1.01">
    <uses-sdk android:minSdkVersion="3" />

    <application android:icon="@drawable/icon" android:label="@string/appname" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="Game"/>
		<activity android:name="Info"/>  
		
		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		<!-- Track Market installs -->          
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
		android:exported="true">
		<intent-filter>
   		<action android:name="com.android.vending.INSTALL_REFERRER" />
		</intent-filter>
		</receiver>      
    </application>
    <!-- AdMob SDK requires Internet permission -->
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>