<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cmn.game"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="3" />

    <application android:icon="@drawable/icon" android:label="@string/appname" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="Game"/>
		<activity android:name="Info"/>  
		
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14d584ff9994b4" android:name="ADMOB_PUBLISHER_ID" />
        
		<!-- AdMobActivity definition -->
		<activity android:name="com.admob.android.ads.AdMobActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		<!-- Track Market installs -->          
		<receiver android:name="com.admob.android.ads.analytics.InstallReceiver"
		android:exported="true">
		<intent-filter>
   		<action android:name="com.android.vending.INSTALL_REFERRER" />
		</intent-filter>
		</receiver>      
    </application>
</manifest>